/*
vars to control eye movement (without js). Just remove all the js code and tweak these variables to see how you could animate it with just css
*/
$iris-xpos: 45px;
$iris-ypos: 45px;
$lid-top: 30px; // 76px is "closed"
$lid-bottom: 20px; // 76px is "closed"
$skin-color: #fff; //#E7B79B, #4D3023
$eye-color: rgba(255,255,255);
$roundness: 10%;

// demo what a blink could look like
@keyframes blink {

  80% {$lid-top: 70px; $lid-bottom:     40px; border-top: $lid-top solid $skin-color; border-bottom: $lid-bottom solid $skin-color;}
}

// demo of eye movement animation
@keyframes eyemove {

  80% {$iris-xpos: 20px; $iris-ypos: 45px;
    left: $iris-xpos; top: $iris-ypos;}
}

body {
  background-color: $skin-color;
}

.eye {
  position: absolute;
  left: 40%;
  top: 30%;
  border-radius: $roundness;
  background: rgba(245,240,240,1);
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  box-sizing: border-box;
}

.eye + .eye {
  left: 55%;
}

.lids {

  position: absolute;
  border-top: $lid-top solid $skin-color; // up
  border-bottom: $lid-bottom solid $skin-color; // down
  top: -1px; // fix for seam
  width: 150px;
  height: 152px; // fix for seam
  border-radius: $roundness;
  background: rgba(255,0,255,0);
  box-sizing: border-box;
  //animation: blink 2s infinite;
}

.eyeshine {
  position: absolute;
  left: 100px;
  top: 50px;
  width: 20px;
  height: 15px;
  border-radius: 60%;
  background-color: rgba(255, 255, 255, 0.2);
}

.iris {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: $roundness;
  left: $iris-xpos;
  top: $iris-ypos;
  background-color: #000;
  box-shadow: inset 0px 0px 30px -5px black;
  //animation: eyemove 2s infinite;
}




#other-stuff {
  position: absolute;
  top: 85%;
  left: 75%;
  color: #96807B;
}

#other-stuff a {
  text-decoration: none;
  color: #C48578;
}
///
